@charset "UTF-8";
@use "../var";


/*　フェード
----------------------------------------------- */
//下から上
.view01 {
    transform: translateY(30px);
    @include var.fadeBefore;

    &.view-on {
        transform: translateY(0);
        @include var.fadeAfter;
    }
}

//左から右
.view02 {
    transform: translateX(-30px);
    @include var.fadeBefore;

    &.view-on {
        transform: translateX(0);
        @include var.fadeAfter;
    }
}

//右から左
.view03 {
    transform: translateX(30px);
    @include var.fadeBefore;

    &.view-on {
        transform: translateX(0);
        @include var.fadeAfter;
    }
}

//上から下
.view04 {
    transform: translateY(-30px);
    @include var.fadeBefore;

    &.view-on {
        transform: translateY(0);
        @include var.fadeAfter;
    }
}

//その場から
.view05 {
    @include var.fadeBefore;

    &.view-on {
        @include var.fadeAfter;
    }
}


/*　スライドアニメーション
----------------------------------------------- */
.js-slide-h{
    display: grid;
    transition: grid-template-rows 0.4s;
    grid-template-rows: 0fr;
    & > * {
        overflow: hidden;
    }
    &.js-active{
        grid-template-rows: 1fr;
    }
}