@charset "UTF-8";
@use "../var";

/*　共通
----------------------------------------------- */
body {
    overflow-x: clip;

    &.js-on {
        overflow: hidden;
    }
}

.sp {
    display: none;
}

.pc {
    display: block;
}

.pc-inline {
    display: inline;
}

.sp-inline {
    display: none;
}

.inner {
    max-width: var.$inner-width-pc;
    margin-inline: auto;
    padding: var.$inner-padding-pc;
}


@include var.sp {
    .sp {
        display: block;
    }

    .pc {
        display: none;
    }

    .sp-inline {
        display: inline;
    }

    .pc-inline {
        display: none;
    }

    .inner {
        max-width: var.$inner-width-sp;
        margin: 0;
        padding: var.$inner-padding-sp;
    }
}